!----------------------------
!	COLOURS
!----------------------------

#define base00 #f7f7f7
#define base01 #e3e3e3
#define base02 #b9b9b9
#define base03 #ababab
#define base04 #525252
#define base05 #464646
#define base06 #252525
#define base07 #101010
#define base08 #7c7c7c
#define base09 #999999
#define base0A #a0a0a0
!#define base0B #cc773f
#define base0B #d53141
#define base0C #868686
#define base0D #686868
#define base0E #747474
#define base0F #5e5e5e

!---------------------------
!	URXVT
!---------------------------

URxvt.foreground:	base05
URxvt.background:	base00
*cursorColor:	base05

*color0:	base00
*color1:	base08
*color2:	base0B
*color3:	base0A
*color4:	base0D
*color5:	base0E
*color6:	base0C
*color7:	base05

*color8:	base03
*color9:	base09
*color10:	base01
*color11:	base02
*color12:	base04
*color13:	base06
*color14:	base0F
*color15:	base07

URxvt.cursorBlink : 0
URxvt.font	  : xft:SF Mono:size=9
URXVT.boldFont	  : xft:SF Mono:size=9
URXVT.italicFont  : xft:SF Mono:size=9	

URxvt.lineSpace		: -2
URxvt.letterSpace	: -1
URxvt.scrollBar		: false
URxvt.internalBorder	: 44
URxvt.cursorUnderline	: false
URxvt.geometry		: 70x35
URxvt.thickness		: 5
URxvt.titleBar		: false
URxvt.intensityStyles	: flase

URxvt.url-launcher	: firefox

!----------------------------------
!	2bwm
!---------------------------------

twobwm.border_width	: 10
twobwm.outer_border	: 7

twobwm.focus_color	: base0B
twobwm.unfocus_color	: base03
twobwm.fixed_color	: base0C
twobwm.unkill_color	: #46464688
twobwm.outer_border_color : base00
twobwm.fixed_unkill_color : base0E

twobwm.inverted_colors	: false
twobwm.enable_compton	: true

!-----------------------------------
!	rofi
!----------------------------------

!State:			bg		fg	bgalt		hlbg	hlfg
rofi.color-normal:	#00000000,	base00,	#00000000,	base00,	base0B
rofi.color-urgent:	#00000000,	base00,	#00000000,	base00,	base05
rofi.color-active:	#00000000,	base00,	#00000000,	base00,	base05

!			bg		border		seperator
rofi.color-window:	#46464646,	#46464646,	#46464646

rofi.fake-transparency: false
rofi.font : SF mono 11
rofi.width: 50
rofi.location: 0
rofi.lines: 20
rofi.padding: 400
rofi.fullscreen: true


